@mixin transition ($seconds: 1s, $elements: all){
	-moz-transition:$seconds $elements;
	-webkit-transition:$seconds $elements;
	-o-transition:$seconds $elements;
	transition:$seconds $elements;
}

$linkColor: black;
$highColor: #1e6e83;


/* latin-ext */
@font-face {
	font-family: 'Oregano';
	font-style: italic;
	font-weight: 400;
	src: local('Oregano Italic'), local('Oregano-Italic'), url(https://fonts.gstatic.com/s/oregano/v4/NucBAytQOo3ho_2ojYS8ahJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Oregano';
	font-style: italic;
	font-weight: 400;
	src: local('Oregano Italic'), local('Oregano-Italic'), url(https://fonts.gstatic.com/s/oregano/v4/2PU7GR20LxwBU7rKywK9FltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
	font-family: 'Arizonia';
	font-style: normal;
	font-weight: 400;
	src: local('Arizonia'), local('Arizonia-Regular'), url(https://fonts.gstatic.com/s/arizonia/v6/2LCopz-tiFTquWPI_IJCyBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Arizonia';
	font-style: normal;
	font-weight: 400;
	src: local('Arizonia'), local('Arizonia-Regular'), url(https://fonts.gstatic.com/s/arizonia/v6/PwrsyFTYH2Wmsvpn0dx4s_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* devanagari */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v3/01M8UnHoM7MaVdT1TD1pbiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
	unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v3/MEXWGbc1EWORtBwy9fFeUiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v3/D2gN9uyZ9Ucx1fJ1Fhb7s_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
	font-family: 'Questrial';
	font-style: normal;
	font-weight: 400;
	src: local('Questrial'), local('Questrial-Regular'), url(https://fonts.gstatic.com/s/questrial/v6/MYWJ4lYm5dbZ1UBuYox79FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


* {
	margin:0;
	padding:0;
}

body {
	font-size: 14px;
	background:#000;
	background-image:url("/creaphy/img/background.png");
	background-attachment:fixed;
	overflow:hidden;
	line-height:17px;
}

a, a:active, a:hover {
	text-decoration:none !important;
	color:$highColor;
}

h1 {
	text-align: center;
	font-size: 6em;
}

h2 {
	margin:0;
	padding:0;
	text-transform: capitalize;
	color:$highColor;
}

nav {

	text-align:center;

	ul li {
		list-style:none;
		display: inline-block;
		margin: 0 30px;

		a  {
			color: $linkColor;
			font-size: 2.8em;
			text-transform: lowercase;
			font-family: 'Arizonia';
		}

		span.sublinks {
			display: block;
			margin-left:4%;

			a {
				font-size: 1.7em;
			}
		}
	}
}

.blank {
	height:140px;
}

#sidebar {

	position: absolute;
	top:35%;
	left:3%;
}

section#content {


	background:none;
	justify-content: center;
	/* display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: top;
	resize: both; */
	width:100%;

	.intro, .nextProjects {

		width:100%;
	}

	.project_wrapper {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: left;
		align-items: flex-start;
		/* resize: both; */
		width:400%;
		margin: 0% 0 3% 0; // @TODO

	}

	.lightgallery {

		img {
			margin:2px;
			max-height:50px;
			opacity: 0.7;
		}
	}

	.project {
		margin:0 10px;
		background:white;
		font-size: 1.1em;
		/* border:1px solid green; */
		/*width defined in js*/
		padding:20px;
		box-sizing:border-box;
		border-radius: 5px;

		transition: 1s all;
		-webkit-transition: 1s all;

		.desc {

			max-height: 230px;
			overflow: auto;
		}

		a,p,h2,.desc,img {

			transition: 1s all;
			-webkit-transition: 1s all;
		}


		&.blurred {
			text-shadow: lightgrey 0 0 5px;
			box-shadow: 0 0 10px white;

			a,p,h2, .desc {

				color: transparent;
			}

			img {
				opacity:0.1;
			}
		}

		h2 {
			text-transform: lowercase;
			letter-spacing: -1px;
		}
	}


}


#sns {
	text-align: center;

	span {
		font-size: 4.3em;
		margin: 0 1%;
		color: $highColor;
	}

	#arrowLeft, #arrowRight {
		color: black;
	}
}